[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.27.1"
pillow = "==9.1.0"
loguru = "==0.6.0"
python-decouple = "==3.6"
tweepy = "==4.8.0"

[dev-packages]
flake8 = "~=4.0.1"
flake8-annotations = "~=2.7.0"
flake8-bugbear = "~=22.1.11"
flake8-tidy-imports = "~=4.6.0"
pep8-naming = "~=0.12.1"
pre-commit = "~=2.17.0"

[scripts]
precommit = "pre-commit install"
lint = "pre-commit run --all-files"
start = "python -m app"
generate-refresh-token = "python -m scripts.generate_refresh_token"
