[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pillow = "*"
loguru = "*"
python-decouple = "*"
tweepy = "*"

[dev-packages]
flake8 = "*"
flake8-annotations = "*"
autopep8 = "*"
flake8-bugbear = "*"
flake8-import-order = "*"
pre-commit = "*"

[scripts]
start = "python -m app"
precommit = "pre-commit install"
lint = "pre-commit run --all-files"
